				@font-face {
					font-family: 'activists-regular';
					src: url('5020Activists-Regular.woff2') format('woff2'),
						url('5020Activists-Regular.woff') format('woff');
					  font-display: auto;
				}

				.activists-regular{font-family: 'activists-regular' !important;}

						@font-face {
					font-family: 'adinekir';
					src: url('6919adinekir.woff2') format('woff2'),
						url('6919adinekir.woff') format('woff');
					  font-display: auto;
				}

				.adinekir{font-family: 'adinekir' !important;}

						@font-face {
					font-family: 'agencyfb-bold';
					src: url('4984AgencyFB-Bold.woff2') format('woff2'),
						url('4984AgencyFB-Bold.woff') format('woff');
					  font-display: auto;
				}

				.agencyfb-bold{font-family: 'agencyfb-bold' !important;}

						@font-face {
					font-family: 'akayakanadaka-regula';
					src: url('9256AkayaKanadaka-Regula.woff2') format('woff2'),
						url('9256AkayaKanadaka-Regula.woff') format('woff');
					  font-display: auto;
				}

				.akayakanadaka-regula{font-family: 'akayakanadaka-regula' !important;}

						@font-face {
					font-family: 'alumatica-regular';
					src: url('6975Alumatica-Regular.woff2') format('woff2'),
						url('6975Alumatica-Regular.woff') format('woff');
					  font-display: auto;
				}

				.alumatica-regular{font-family: 'alumatica-regular' !important;}

						@font-face {
					font-family: 'anabele';
					src: url('519Anabele.woff2') format('woff2'),
						url('519Anabele.woff') format('woff');
					  font-display: auto;
				}

				.anabele{font-family: 'anabele' !important;}

						@font-face {
					font-family: 'analogue';
					src: url('8947Analogue.woff2') format('woff2'),
						url('8947Analogue.woff') format('woff');
					  font-display: auto;
				}

				.analogue{font-family: 'analogue' !important;}

						@font-face {
					font-family: 'anydore';
					src: url('958anydore.woff2') format('woff2'),
						url('958anydore.woff') format('woff');
					  font-display: auto;
				}

				.anydore{font-family: 'anydore' !important;}

						@font-face {
					font-family: 'autumn';
					src: url('4462autumn.woff2') format('woff2'),
						url('4462autumn.woff') format('woff');
					  font-display: auto;
				}

				.autumn{font-family: 'autumn' !important;}

						@font-face {
					font-family: 'back-to-school';
					src: url('1945Back-to-School.woff2') format('woff2'),
						url('1945Back-to-School.woff') format('woff');
					  font-display: auto;
				}

				.back-to-school{font-family: 'back-to-school' !important;}

						@font-face {
					font-family: 'bavaria-gates';
					src: url('3531Bavaria-Gates.woff2') format('woff2'),
						url('3531Bavaria-Gates.woff') format('woff');
					  font-display: auto;
				}

				.bavaria-gates{font-family: 'bavaria-gates' !important;}

						@font-face {
					font-family: 'bebasneue-regular';
					src: url('203BebasNeue-Regular.woff2') format('woff2'),
						url('203BebasNeue-Regular.woff') format('woff');
					  font-display: auto;
				}

				.bebasneue-regular{font-family: 'bebasneue-regular' !important;}

						@font-face {
					font-family: 'belgan-aesthetic';
					src: url('1834Belgan-Aesthetic.woff2') format('woff2'),
						url('1834Belgan-Aesthetic.woff') format('woff');
					  font-display: auto;
				}

				.belgan-aesthetic{font-family: 'belgan-aesthetic' !important;}

						@font-face {
					font-family: 'belisha';
					src: url('8429Belisha.woff2') format('woff2'),
						url('8429Belisha.woff') format('woff');
					  font-display: auto;
				}

				.belisha{font-family: 'belisha' !important;}

						@font-face {
					font-family: 'bernardo';
					src: url('2986Bernardo.woff2') format('woff2'),
						url('2986Bernardo.woff') format('woff');
					  font-display: auto;
				}

				.bernardo{font-family: 'bernardo' !important;}

						@font-face {
					font-family: 'biancha-script-demo';
					src: url('6285Biancha-Script-Demo.woff2') format('woff2'),
						url('6285Biancha-Script-Demo.woff') format('woff');
					  font-display: auto;
				}

				.biancha-script-demo{font-family: 'biancha-script-demo' !important;}

						@font-face {
					font-family: 'bickham-script-pro-r';
					src: url('1351Bickham-Script-Pro-R.woff2') format('woff2'),
						url('1351Bickham-Script-Pro-R.woff') format('woff');
					  font-display: auto;
				}

				.bickham-script-pro-r{font-family: 'bickham-script-pro-r' !important;}

						@font-face {
					font-family: 'black-rotela';
					src: url('4498Black-Rotela.woff2') format('woff2'),
						url('4498Black-Rotela.woff') format('woff');
					  font-display: auto;
				}

				.black-rotela{font-family: 'black-rotela' !important;}

						@font-face {
					font-family: 'bodebeck';
					src: url('232bodebeck.woff2') format('woff2'),
						url('232bodebeck.woff') format('woff');
					  font-display: auto;
				}

				.bodebeck{font-family: 'bodebeck' !important;}

						@font-face {
					font-family: 'boheme-floral';
					src: url('3256Boheme-Floral.woff2') format('woff2'),
						url('3256Boheme-Floral.woff') format('woff');
					  font-display: auto;
				}

				.boheme-floral{font-family: 'boheme-floral' !important;}

						@font-face {
					font-family: 'bohemian';
					src: url('4011bohemian.woff2') format('woff2'),
						url('4011bohemian.woff') format('woff');
					  font-display: auto;
				}

				.bohemian{font-family: 'bohemian' !important;}

						@font-face {
					font-family: 'bon-vivan-regular';
					src: url('4933bon-vivan-regular.woff2') format('woff2'),
						url('4933bon-vivan-regular.woff') format('woff');
					  font-display: auto;
				}

				.bon-vivan-regular{font-family: 'bon-vivan-regular' !important;}

						@font-face {
					font-family: 'calibri-italic';
					src: url('3071Calibri-Italic.woff2') format('woff2'),
						url('3071Calibri-Italic.woff') format('woff');
					  font-display: auto;
				}

				.calibri-italic{font-family: 'calibri-italic' !important;}

						@font-face {
					font-family: 'calistomtfett';
					src: url('9260CalistoMTFett.woff2') format('woff2'),
						url('9260CalistoMTFett.woff') format('woff');
					  font-display: auto;
				}

				.calistomtfett{font-family: 'calistomtfett' !important;}

						@font-face {
					font-family: 'calvino';
					src: url('3586Calvino.woff2') format('woff2'),
						url('3586Calvino.woff') format('woff');
					  font-display: auto;
				}

				.calvino{font-family: 'calvino' !important;}

						@font-face {
					font-family: 'cambria';
					src: url('7793Cambria.woff2') format('woff2'),
						url('7793Cambria.woff') format('woff');
					  font-display: auto;
				}

				.cambria{font-family: 'cambria' !important;}

						@font-face {
					font-family: 'carolyna-pro-black';
					src: url('1571Carolyna-Pro-Black.woff2') format('woff2'),
						url('1571Carolyna-Pro-Black.woff') format('woff');
					  font-display: auto;
				}

				.carolyna-pro-black{font-family: 'carolyna-pro-black' !important;}

						@font-face {
					font-family: 'chilanka-regular';
					src: url('1385Chilanka-Regular.woff2') format('woff2'),
						url('1385Chilanka-Regular.woff') format('woff');
					  font-display: auto;
				}

				.chilanka-regular{font-family: 'chilanka-regular' !important;}

						@font-face {
					font-family: 'coffee-extra';
					src: url('1814Coffee-Extra.woff2') format('woff2'),
						url('1814Coffee-Extra.woff') format('woff');
					  font-display: auto;
				}

				.coffee-extra{font-family: 'coffee-extra' !important;}

						@font-face {
					font-family: 'coffe-for-breakfast';
					src: url('9411Coffe-for-breakfast.woff2') format('woff2'),
						url('9411Coffe-for-breakfast.woff') format('woff');
					  font-display: auto;
				}

				.coffe-for-breakfast{font-family: 'coffe-for-breakfast' !important;}

						@font-face {
					font-family: 'collina-regular';
					src: url('5762Collina-Regular.woff2') format('woff2'),
						url('5762Collina-Regular.woff') format('woff');
					  font-display: auto;
				}

				.collina-regular{font-family: 'collina-regular' !important;}

						@font-face {
					font-family: 'cream-cake';
					src: url('7064Cream-Cake.woff2') format('woff2'),
						url('7064Cream-Cake.woff') format('woff');
					  font-display: auto;
				}

				.cream-cake{font-family: 'cream-cake' !important;}

						@font-face {
					font-family: 'creattion';
					src: url('1058Creattion.woff2') format('woff2'),
						url('1058Creattion.woff') format('woff');
					  font-display: auto;
				}

				.creattion{font-family: 'creattion' !important;}

						@font-face {
					font-family: 'dearsarah';
					src: url('707DearSarah.woff2') format('woff2'),
						url('707DearSarah.woff') format('woff');
					  font-display: auto;
				}

				.dearsarah{font-family: 'dearsarah' !important;}

						@font-face {
					font-family: 'dear-sarah';
					src: url('8623Dear-Sarah.woff2') format('woff2'),
						url('8623Dear-Sarah.woff') format('woff');
					  font-display: auto;
				}

				.dear-sarah{font-family: 'dear-sarah' !important;}

						@font-face {
					font-family: 'deliusswashcaps-regu';
					src: url('9127DeliusSwashCaps-Regu.woff2') format('woff2'),
						url('9127DeliusSwashCaps-Regu.woff') format('woff');
					  font-display: auto;
				}

				.deliusswashcaps-regu{font-family: 'deliusswashcaps-regu' !important;}

						@font-face {
					font-family: 'dk-plague-master';
					src: url('3580DK-Plague-Master.woff2') format('woff2'),
						url('3580DK-Plague-Master.woff') format('woff');
					  font-display: auto;
				}

				.dk-plague-master{font-family: 'dk-plague-master' !important;}

						@font-face {
					font-family: 'editors-light';
					src: url('1984Editors-Light.woff2') format('woff2'),
						url('1984Editors-Light.woff') format('woff');
					  font-display: auto;
				}

				.editors-light{font-family: 'editors-light' !important;}

						@font-face {
					font-family: 'edwardian-script';
					src: url('3362Edwardian-Script.woff2') format('woff2'),
						url('3362Edwardian-Script.woff') format('woff');
					  font-display: auto;
				}

				.edwardian-script{font-family: 'edwardian-script' !important;}

						@font-face {
					font-family: 'freesansbold';
					src: url('5707FreeSansBold.woff2') format('woff2'),
						url('5707FreeSansBold.woff') format('woff');
					  font-display: auto;
				}

				.freesansbold{font-family: 'freesansbold' !important;}

						@font-face {
					font-family: 'freestyle';
					src: url('5439freestyle.woff2') format('woff2'),
						url('5439freestyle.woff') format('woff');
					  font-display: auto;
				}

				.freestyle{font-family: 'freestyle' !important;}

						@font-face {
					font-family: 'gallerymodern-webfon';
					src: url('7141gallerymodern-webfon.woff2') format('woff2'),
						url('7141gallerymodern-webfon.woff') format('woff');
					  font-display: auto;
				}

				.gallerymodern-webfon{font-family: 'gallerymodern-webfon' !important;}

						@font-face {
					font-family: 'grithani';
					src: url('9437grithani.woff2') format('woff2'),
						url('9437grithani.woff') format('woff');
					  font-display: auto;
				}

				.grithani{font-family: 'grithani' !important;}

						@font-face {
					font-family: 'hashiba';
					src: url('9638Hashiba.woff2') format('woff2'),
						url('9638Hashiba.woff') format('woff');
					  font-display: auto;
				}

				.hashiba{font-family: 'hashiba' !important;}

						@font-face {
					font-family: 'hatolie';
					src: url('4307Hatolie.woff2') format('woff2'),
						url('4307Hatolie.woff') format('woff');
					  font-display: auto;
				}

				.hatolie{font-family: 'hatolie' !important;}

						@font-face {
					font-family: 'hennypenny-regular';
					src: url('4461HennyPenny-Regular.woff2') format('woff2'),
						url('4461HennyPenny-Regular.woff') format('woff');
					  font-display: auto;
				}

				.hennypenny-regular{font-family: 'hennypenny-regular' !important;}

						@font-face {
					font-family: 'high_spirited';
					src: url('1583high_spirited.woff2') format('woff2'),
						url('1583high_spirited.woff') format('woff');
					  font-display: auto;
				}

				.high_spirited{font-family: 'high_spirited' !important;}

						@font-face {
					font-family: 'iskry-regular';
					src: url('300Iskry-Regular.woff2') format('woff2'),
						url('300Iskry-Regular.woff') format('woff');
					  font-display: auto;
				}

				.iskry-regular{font-family: 'iskry-regular' !important;}

						@font-face {
					font-family: 'italiana-regular';
					src: url('6830Italiana-Regular.woff2') format('woff2'),
						url('6830Italiana-Regular.woff') format('woff');
					  font-display: auto;
				}

				.italiana-regular{font-family: 'italiana-regular' !important;}

						@font-face {
					font-family: 'italianno';
					src: url('8457Italianno.woff2') format('woff2'),
						url('8457Italianno.woff') format('woff');
					  font-display: auto;
				}

				.italianno{font-family: 'italianno' !important;}

						@font-face {
					font-family: 'laluxesscript-regula';
					src: url('2586LaLuxesScript-Regula.woff2') format('woff2'),
						url('2586LaLuxesScript-Regula.woff') format('woff');
					  font-display: auto;
				}

				.laluxesscript-regula{font-family: 'laluxesscript-regula' !important;}

						@font-face {
					font-family: 'maglonyfreeversion-r';
					src: url('1116Maglonyfreeversion-R.woff2') format('woff2'),
						url('1116Maglonyfreeversion-R.woff') format('woff');
					  font-display: auto;
				}

				.maglonyfreeversion-r{font-family: 'maglonyfreeversion-r' !important;}

						@font-face {
					font-family: 'mainstay';
					src: url('4685Mainstay.woff2') format('woff2'),
						url('4685Mainstay.woff') format('woff');
					  font-display: auto;
				}

				.mainstay{font-family: 'mainstay' !important;}

						@font-face {
					font-family: 'matrix';
					src: url('2237matrix.woff2') format('woff2'),
						url('2237matrix.woff') format('woff');
					  font-display: auto;
				}

				.matrix{font-family: 'matrix' !important;}

						@font-face {
					font-family: 'mishka';
					src: url('7121Mishka.woff2') format('woff2'),
						url('7121Mishka.woff') format('woff');
					  font-display: auto;
				}

				.mishka{font-family: 'mishka' !important;}

						@font-face {
					font-family: 'monoline';
					src: url('8362monoline.woff2') format('woff2'),
						url('8362monoline.woff') format('woff');
					  font-display: auto;
				}

				.monoline{font-family: 'monoline' !important;}

						@font-face {
					font-family: 'monotype-corsiva';
					src: url('500Monotype-Corsiva.woff2') format('woff2'),
						url('500Monotype-Corsiva.woff') format('woff');
					  font-display: auto;
				}

				.monotype-corsiva{font-family: 'monotype-corsiva' !important;}

						@font-face {
					font-family: 'month-glade';
					src: url('5445month-glade.woff2') format('woff2'),
						url('5445month-glade.woff') format('woff');
					  font-display: auto;
				}

				.month-glade{font-family: 'month-glade' !important;}

						@font-face {
					font-family: 'muthiara';
					src: url('4391Muthiara.woff2') format('woff2'),
						url('4391Muthiara.woff') format('woff');
					  font-display: auto;
				}

				.muthiara{font-family: 'muthiara' !important;}

						@font-face {
					font-family: 'mutiara';
					src: url('75mutiara.woff2') format('woff2'),
						url('75mutiara.woff') format('woff');
					  font-display: auto;
				}

				.mutiara{font-family: 'mutiara' !important;}

						@font-face {
					font-family: 'mvboli';
					src: url('1611mvboli.woff2') format('woff2'),
						url('1611mvboli.woff') format('woff');
					  font-display: auto;
				}

				.mvboli{font-family: 'mvboli' !important;}

						@font-face {
					font-family: 'newyork';
					src: url('1971NewYork.woff2') format('woff2'),
						url('1971NewYork.woff') format('woff');
					  font-display: auto;
				}

				.newyork{font-family: 'newyork' !important;}

						@font-face {
					font-family: 'nomark';
					src: url('3646Nomark.woff2') format('woff2'),
						url('3646Nomark.woff') format('woff');
					  font-display: auto;
				}

				.nomark{font-family: 'nomark' !important;}

						@font-face {
					font-family: 'oakes-grotesk-regula';
					src: url('6079Oakes-Grotesk-Regula.woff2') format('woff2'),
						url('6079Oakes-Grotesk-Regula.woff') format('woff');
					  font-display: auto;
				}

				.oakes-grotesk-regula{font-family: 'oakes-grotesk-regula' !important;}

						@font-face {
					font-family: 'paris';
					src: url('8110paris.woff2') format('woff2'),
						url('8110paris.woff') format('woff');
					  font-display: auto;
				}

				.paris{font-family: 'paris' !important;}

						@font-face {
					font-family: 'photograph';
					src: url('8354photograph.woff2') format('woff2'),
						url('8354photograph.woff') format('woff');
					  font-display: auto;
				}

				.photograph{font-family: 'photograph' !important;}

						@font-face {
					font-family: 'pinyonscript';
					src: url('4705PinyonScript.woff2') format('woff2'),
						url('4705PinyonScript.woff') format('woff');
					  font-display: auto;
				}

				.pinyonscript{font-family: 'pinyonscript' !important;}

						@font-face {
					font-family: 'pinyonscript-regular';
					src: url('1146PinyonScript-Regular.woff2') format('woff2'),
						url('1146PinyonScript-Regular.woff') format('woff');
					  font-display: auto;
				}

				.pinyonscript-regular{font-family: 'pinyonscript-regular' !important;}

						@font-face {
					font-family: 'playball';
					src: url('5562playball.woff2') format('woff2'),
						url('5562playball.woff') format('woff');
					  font-display: auto;
				}

				.playball{font-family: 'playball' !important;}

						@font-face {
					font-family: 'poorstory-regular';
					src: url('337PoorStory-Regular.woff2') format('woff2'),
						url('337PoorStory-Regular.woff') format('woff');
					  font-display: auto;
				}

				.poorstory-regular{font-family: 'poorstory-regular' !important;}

						@font-face {
					font-family: 'power';
					src: url('8350power.woff2') format('woff2'),
						url('8350power.woff') format('woff');
					  font-display: auto;
				}

				.power{font-family: 'power' !important;}

						@font-face {
					font-family: 'praise';
					src: url('9288Praise.woff2') format('woff2'),
						url('9288Praise.woff') format('woff');
					  font-display: auto;
				}

				.praise{font-family: 'praise' !important;}

						@font-face {
					font-family: 'quatera';
					src: url('8487Quatera.woff2') format('woff2'),
						url('8487Quatera.woff') format('woff');
					  font-display: auto;
				}

				.quatera{font-family: 'quatera' !important;}

						@font-face {
					font-family: 'rainbow-in-june';
					src: url('1437Rainbow-in-June.woff2') format('woff2'),
						url('1437Rainbow-in-June.woff') format('woff');
					  font-display: auto;
				}

				.rainbow-in-june{font-family: 'rainbow-in-june' !important;}

						@font-face {
					font-family: 'revania';
					src: url('7359Revania.woff2') format('woff2'),
						url('7359Revania.woff') format('woff');
					  font-display: auto;
				}

				.revania{font-family: 'revania' !important;}

						@font-face {
					font-family: 'rolasansignature';
					src: url('6405rolasansignature.woff2') format('woff2'),
						url('6405rolasansignature.woff') format('woff');
					  font-display: auto;
				}

				.rolasansignature{font-family: 'rolasansignature' !important;}

						@font-face {
					font-family: 'roserri';
					src: url('6858Roserri.woff2') format('woff2'),
						url('6858Roserri.woff') format('woff');
					  font-display: auto;
				}

				.roserri{font-family: 'roserri' !important;}

						@font-face {
					font-family: 'rumraisin-regular';
					src: url('7054RumRaisin-Regular.woff2') format('woff2'),
						url('7054RumRaisin-Regular.woff') format('woff');
					  font-display: auto;
				}

				.rumraisin-regular{font-family: 'rumraisin-regular' !important;}

						@font-face {
					font-family: 'sinoreta';
					src: url('3457Sinoreta.woff2') format('woff2'),
						url('3457Sinoreta.woff') format('woff');
					  font-display: auto;
				}

				.sinoreta{font-family: 'sinoreta' !important;}

						@font-face {
					font-family: 'sinoreta_personal_us';
					src: url('6007Sinoreta_PERSONAL_US.woff2') format('woff2'),
						url('6007Sinoreta_PERSONAL_US.woff') format('woff');
					  font-display: auto;
				}

				.sinoreta_personal_us{font-family: 'sinoreta_personal_us' !important;}

						@font-face {
					font-family: 'skranji-regular';
					src: url('2822Skranji-Regular.woff2') format('woff2'),
						url('2822Skranji-Regular.woff') format('woff');
					  font-display: auto;
				}

				.skranji-regular{font-family: 'skranji-regular' !important;}

						@font-face {
					font-family: 'spring-in-may';
					src: url('2201Spring-in-may.woff2') format('woff2'),
						url('2201Spring-in-may.woff') format('woff');
					  font-display: auto;
				}

				.spring-in-may{font-family: 'spring-in-may' !important;}

						@font-face {
					font-family: 'strawberrycupcakes';
					src: url('5776StrawberryCupcakes.woff2') format('woff2'),
						url('5776StrawberryCupcakes.woff') format('woff');
					  font-display: auto;
				}

				.strawberrycupcakes{font-family: 'strawberrycupcakes' !important;}

						@font-face {
					font-family: 'sweet-saturday';
					src: url('2878Sweet-Saturday.woff2') format('woff2'),
						url('2878Sweet-Saturday.woff') format('woff');
					  font-display: auto;
				}

				.sweet-saturday{font-family: 'sweet-saturday' !important;}

						@font-face {
					font-family: 'tangerine';
					src: url('1346Tangerine.woff2') format('woff2'),
						url('1346Tangerine.woff') format('woff');
					  font-display: auto;
				}

				.tangerine{font-family: 'tangerine' !important;}

						@font-face {
					font-family: 'tangerine_regular';
					src: url('2311Tangerine_Regular.woff2') format('woff2'),
						url('2311Tangerine_Regular.woff') format('woff');
					  font-display: auto;
				}

				.tangerine_regular{font-family: 'tangerine_regular' !important;}

						@font-face {
					font-family: 'the-bernardo';
					src: url('9489The-bernardo.woff2') format('woff2'),
						url('9489The-bernardo.woff') format('woff');
					  font-display: auto;
				}

				.the-bernardo{font-family: 'the-bernardo' !important;}

						@font-face {
					font-family: 'the-californication';
					src: url('3068The-Californication.woff2') format('woff2'),
						url('3068The-Californication.woff') format('woff');
					  font-display: auto;
				}

				.the-californication{font-family: 'the-californication' !important;}

						@font-face {
					font-family: 'traditional-arabic';
					src: url('8514traditional-arabic.woff2') format('woff2'),
						url('8514traditional-arabic.woff') format('woff');
					  font-display: auto;
				}

				.traditional-arabic{font-family: 'traditional-arabic' !important;}

						@font-face {
					font-family: 'trajan';
					src: url('9254trajan.woff2') format('woff2'),
						url('9254trajan.woff') format('woff');
					  font-display: auto;
				}

				.trajan{font-family: 'trajan' !important;}

						@font-face {
					font-family: 'vogue';
					src: url('3760Vogue.woff2') format('woff2'),
						url('3760Vogue.woff') format('woff');
					  font-display: auto;
				}

				.vogue{font-family: 'vogue' !important;}

						@font-face {
					font-family: 'walbaumdisplay';
					src: url('9896WalbaumDisplay.woff2') format('woff2'),
						url('9896WalbaumDisplay.woff') format('woff');
					  font-display: auto;
				}

				.walbaumdisplay{font-family: 'walbaumdisplay' !important;}

						@font-face {
					font-family: 'winterbeauty-script';
					src: url('3109Winterbeauty-Script.woff2') format('woff2'),
						url('3109Winterbeauty-Script.woff') format('woff');
					  font-display: auto;
				}

				.winterbeauty-script{font-family: 'winterbeauty-script' !important;}

						@font-face {
					font-family: 'aphrodite-slim-text';
					src: url('9619Aphrodite-Slim-Text.woff2') format('woff2'),
						url('9619Aphrodite-Slim-Text.woff') format('woff');
					  font-display: auto;
				}

				.aphrodite-slim-text{font-family: 'aphrodite-slim-text' !important;}

						@font-face {
					font-family: 'spring-in-may';
					src: url('407Spring-in-may.woff2') format('woff2'),
						url('407Spring-in-may.woff') format('woff');
					  font-display: auto;
				}

				.spring-in-may{font-family: 'spring-in-may' !important;}

						@font-face {
					font-family: 'grithani';
					src: url('5264grithani.woff2') format('woff2'),
						url('5264grithani.woff') format('woff');
					  font-display: auto;
				}

				.grithani{font-family: 'grithani' !important;}

						@font-face {
					font-family: 'garlicha';
					src: url('7582Garlicha.woff2') format('woff2'),
						url('7582Garlicha.woff') format('woff');
					  font-display: auto;
				}

				.garlicha{font-family: 'garlicha' !important;}

						@font-face {
					font-family: 'jawa-palsu';
					src: url('3511JAWA-PALSU.woff2') format('woff2'),
						url('3511JAWA-PALSU.woff') format('woff');
					  font-display: auto;
				}

				.jawa-palsu{font-family: 'jawa-palsu' !important;}

						@font-face {
					font-family: 'theweddingsignature';
					src: url('5027theweddingsignature.woff2') format('woff2'),
						url('5027theweddingsignature.woff') format('woff');
					  font-display: auto;
				}

				.theweddingsignature{font-family: 'theweddingsignature' !important;}

						@font-face {
					font-family: 'lasamericas';
					src: url('3695LasAmericas.woff2') format('woff2'),
						url('3695LasAmericas.woff') format('woff');
					  font-display: auto;
				}

				.lasamericas{font-family: 'lasamericas' !important;}

						@font-face {
					font-family: 'domaine-de-valentine';
					src: url('5258Domaine-de-Valentine.woff2') format('woff2'),
						url('5258Domaine-de-Valentine.woff') format('woff');
					  font-display: auto;
				}

				.domaine-de-valentine{font-family: 'domaine-de-valentine' !important;}

						@font-face {
					font-family: 'franky';
					src: url('9922FRANKY.woff2') format('woff2'),
						url('9922FRANKY.woff') format('woff');
					  font-display: auto;
				}

				.franky{font-family: 'franky' !important;}

						@font-face {
					font-family: 'omar';
					src: url('9481omar.woff2') format('woff2'),
						url('9481omar.woff') format('woff');
					  font-display: auto;
				}

				.omar{font-family: 'omar' !important;}

						@font-face {
					font-family: 'handwind';
					src: url('9787Handwind.woff2') format('woff2'),
						url('9787Handwind.woff') format('woff');
					  font-display: auto;
				}

				.handwind{font-family: 'handwind' !important;}

						@font-face {
					font-family: 'welcome-ramadhan';
					src: url('4800welcome-ramadhan.woff2') format('woff2'),
						url('4800welcome-ramadhan.woff') format('woff');
					  font-display: auto;
				}

				.welcome-ramadhan{font-family: 'welcome-ramadhan' !important;}

						@font-face {
					font-family: 'edensor';
					src: url('5803Edensor.woff2') format('woff2'),
						url('5803Edensor.woff') format('woff');
					  font-display: auto;
				}

				.edensor{font-family: 'edensor' !important;}

						@font-face {
					font-family: 'spacedout-boldobliqu';
					src: url('4216spacedout-boldobliqu.woff2') format('woff2'),
						url('4216spacedout-boldobliqu.woff') format('woff');
					  font-display: auto;
				}

				.spacedout-boldobliqu{font-family: 'spacedout-boldobliqu' !important;}

						@font-face {
					font-family: 'cabaret_voltaire';
					src: url('3001cabaret_voltaire.woff2') format('woff2'),
						url('3001cabaret_voltaire.woff') format('woff');
					  font-display: auto;
				}

				.cabaret_voltaire{font-family: 'cabaret_voltaire' !important;}

						@font-face {
					font-family: 'waitingforthesunrise';
					src: url('5822WaitingfortheSunrise.woff2') format('woff2'),
						url('5822WaitingfortheSunrise.woff') format('woff');
					  font-display: auto;
				}

				.waitingforthesunrise{font-family: 'waitingforthesunrise' !important;}

						@font-face {
					font-family: 'qarkinepersonaluse-z';
					src: url('6078QarkinePersonalUse-Z.woff2') format('woff2'),
						url('6078QarkinePersonalUse-Z.woff') format('woff');
					  font-display: auto;
				}

				.qarkinepersonaluse-z{font-family: 'qarkinepersonaluse-z' !important;}

						@font-face {
					font-family: 'soe-font-by-situjuh';
					src: url('180Soe-Font-by-Situjuh.woff2') format('woff2'),
						url('180Soe-Font-by-Situjuh.woff') format('woff');
					  font-display: auto;
				}

				.soe-font-by-situjuh{font-family: 'soe-font-by-situjuh' !important;}

						@font-face {
					font-family: 'stencil-regular';
					src: url('7103stencil-Regular.woff2') format('woff2'),
						url('7103stencil-Regular.woff') format('woff');
					  font-display: auto;
				}

				.stencil-regular{font-family: 'stencil-regular' !important;}

						@font-face {
					font-family: 'antsvalley';
					src: url('8918AntsValley.woff2') format('woff2'),
						url('8918AntsValley.woff') format('woff');
					  font-display: auto;
				}

				.antsvalley{font-family: 'antsvalley' !important;}

						@font-face {
					font-family: 'calista';
					src: url('536calista.woff2') format('woff2'),
						url('536calista.woff') format('woff');
					  font-display: auto;
				}

				.calista{font-family: 'calista' !important;}

						@font-face {
					font-family: 'chiaroscura-md';
					src: url('8622Chiaroscura-Md.woff2') format('woff2'),
						url('8622Chiaroscura-Md.woff') format('woff');
					  font-display: auto;
				}

				.chiaroscura-md{font-family: 'chiaroscura-md' !important;}

						@font-face {
					font-family: 'chiaroscura-rg';
					src: url('4158Chiaroscura-Rg.woff2') format('woff2'),
						url('4158Chiaroscura-Rg.woff') format('woff');
					  font-display: auto;
				}

				.chiaroscura-rg{font-family: 'chiaroscura-rg' !important;}

						@font-face {
					font-family: 'chiaroscura-rg';
					src: url('2159Chiaroscura-Rg.woff2') format('woff2'),
						url('2159Chiaroscura-Rg.woff') format('woff');
					  font-display: auto;
				}

				.chiaroscura-rg{font-family: 'chiaroscura-rg' !important;}

						@font-face {
					font-family: 'mettaro';
					src: url('6055Mettaro.woff2') format('woff2'),
						url('6055Mettaro.woff') format('woff');
					  font-display: auto;
				}

				.mettaro{font-family: 'mettaro' !important;}

						@font-face {
					font-family: 'onnier';
					src: url('4165Onnier.woff2') format('woff2'),
						url('4165Onnier.woff') format('woff');
					  font-display: auto;
				}

				.onnier{font-family: 'onnier' !important;}

						@font-face {
					font-family: 'prumo-display-w00-ex';
					src: url('3344Prumo-Display-W00-Ex.woff2') format('woff2'),
						url('3344Prumo-Display-W00-Ex.woff') format('woff');
					  font-display: auto;
				}

				.prumo-display-w00-ex{font-family: 'prumo-display-w00-ex' !important;}

						@font-face {
					font-family: 'qarkinepersonaluse-z';
					src: url('6819QarkinePersonalUse-Z.woff2') format('woff2'),
						url('6819QarkinePersonalUse-Z.woff') format('woff');
					  font-display: auto;
				}

				.qarkinepersonaluse-z{font-family: 'qarkinepersonaluse-z' !important;}

						@font-face {
					font-family: 'stenvia';
					src: url('731Stenvia.woff2') format('woff2'),
						url('731Stenvia.woff') format('woff');
					  font-display: auto;
				}

				.stenvia{font-family: 'stenvia' !important;}

						@font-face {
					font-family: 'qarkinepersonaluse-z';
					src: url('3152QarkinePersonalUse-Z.woff2') format('woff2'),
						url('3152QarkinePersonalUse-Z.woff') format('woff');
					  font-display: auto;
				}

				.qarkinepersonaluse-z{font-family: 'qarkinepersonaluse-z' !important;}

						@font-face {
					font-family: 'monthoers';
					src: url('1888Monthoers.woff2') format('woff2'),
						url('1888Monthoers.woff') format('woff');
					  font-display: auto;
				}

				.monthoers{font-family: 'monthoers' !important;}

						@font-face {
					font-family: 'caveat-bold';
					src: url('4337Caveat-Bold.woff2') format('woff2'),
						url('4337Caveat-Bold.woff') format('woff');
					  font-display: auto;
				}

				.caveat-bold{font-family: 'caveat-bold' !important;}

						@font-face {
					font-family: 'caveat-regular';
					src: url('3684Caveat-Regular.woff2') format('woff2'),
						url('3684Caveat-Regular.woff') format('woff');
					  font-display: auto;
				}

				.caveat-regular{font-family: 'caveat-regular' !important;}

						@font-face {
					font-family: 'earthgate';
					src: url('3959Earthgate.woff2') format('woff2'),
						url('3959Earthgate.woff') format('woff');
					  font-display: auto;
				}

				.earthgate{font-family: 'earthgate' !important;}

						@font-face {
					font-family: 'roustel';
					src: url('8590Roustel.woff2') format('woff2'),
						url('8590Roustel.woff') format('woff');
					  font-display: auto;
				}

				.roustel{font-family: 'roustel' !important;}

						@font-face {
					font-family: 'bartex';
					src: url('8274Bartex.woff2') format('woff2'),
						url('8274Bartex.woff') format('woff');
					  font-display: auto;
				}

				.bartex{font-family: 'bartex' !important;}

						@font-face {
					font-family: 'hello-bride-script';
					src: url('9150Hello-Bride-Script.woff2') format('woff2'),
						url('9150Hello-Bride-Script.woff') format('woff');
					  font-display: auto;
				}

				.hello-bride-script{font-family: 'hello-bride-script' !important;}

						@font-face {
					font-family: 'halimun';
					src: url('1905Halimun.woff2') format('woff2'),
						url('1905Halimun.woff') format('woff');
					  font-display: auto;
				}

				.halimun{font-family: 'halimun' !important;}

						@font-face {
					font-family: 'homemade-apple';
					src: url('5097homemade-apple.woff2') format('woff2'),
						url('5097homemade-apple.woff') format('woff');
					  font-display: auto;
				}

				.homemade-apple{font-family: 'homemade-apple' !important;}

						@font-face {
					font-family: 'courier-prime';
					src: url('2963Courier-Prime.woff2') format('woff2'),
						url('2963Courier-Prime.woff') format('woff');
					  font-display: auto;
				}

				.courier-prime{font-family: 'courier-prime' !important;}

						@font-face {
					font-family: 'rtl-romman-regular';
					src: url('1119RTL-Romman-Regular.woff2') format('woff2'),
						url('1119RTL-Romman-Regular.woff') format('woff');
					  font-display: auto;
				}

				.rtl-romman-regular{font-family: 'rtl-romman-regular' !important;}

						@font-face {
					font-family: 'baby-girly';
					src: url('8794Baby-Girly.woff2') format('woff2'),
						url('8794Baby-Girly.woff') format('woff');
					  font-display: auto;
				}

				.baby-girly{font-family: 'baby-girly' !important;}

						@font-face {
					font-family: 'moodern';
					src: url('9167MOODERN.woff2') format('woff2'),
						url('9167MOODERN.woff') format('woff');
					  font-display: auto;
				}

				.moodern{font-family: 'moodern' !important;}

						@font-face {
					font-family: 'bondrians';
					src: url('6061Bondrians.woff2') format('woff2'),
						url('6061Bondrians.woff') format('woff');
					  font-display: auto;
				}

				.bondrians{font-family: 'bondrians' !important;}

						@font-face {
					font-family: 'bukhari-script';
					src: url('5180Bukhari-Script.woff2') format('woff2'),
						url('5180Bukhari-Script.woff') format('woff');
					  font-display: auto;
				}

				.bukhari-script{font-family: 'bukhari-script' !important;}

						@font-face {
					font-family: 'made';
					src: url('7707MADE.woff2') format('woff2'),
						url('7707MADE.woff') format('woff');
					  font-display: auto;
				}

				.made{font-family: 'made' !important;}

						@font-face {
					font-family: 'merriweathef';
					src: url('8409merriweathef.woff2') format('woff2'),
						url('8409merriweathef.woff') format('woff');
					  font-display: auto;
				}

				.merriweathef{font-family: 'merriweathef' !important;}

		